/* Variables */
:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --delay: 0.3s;
    --main-padding: 100px;
    --section-background: #ececec;
}
/* Globla Rules */
* {
    scroll-behavior: smooth;
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
ul {
    list-style-type: none;
}
/* Compenent */
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.heading {
    margin: 0 auto var(--main-padding);
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid black;
    width: fit-content;
    padding: 0 10px;
    position: relative;
    z-index: 22;
}
.heading:hover {
    color: white;
    border-color: white;
    transition: var(--delay) calc(var(--delay) + 0.1s);
}
.heading::before {
    content: "";
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.heading:hover::before {
    left: 0px;
    height: 100%;
    width: 51%;
    border-radius: 0;
    transform: translate(0%, -50%);
    transition: left var(--delay), border-radius var(--delay) 0.2s, width var(--delay) 0.2s, height var(--delay) 0.2s;
}
.heading::after {
    content: "";
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translate(50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    z-index: -1;
}
.heading:hover::after {
    right: 0;
    height: 100%;
    width: 51%;
    border-radius: 0;
    transform: translate(0%, -50%);
    transition: right var(--delay), border-radius var(--delay) 0.2s, width var(--delay) 0.2s, height var(--delay) 0.2s;
}
/* Header */
.header {
    width: 100%;
    background-color: white;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .logo {
    font-size: 22px;
    font-weight: 600;
    color: var(--main-color);
}
.header .links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
.header .links .link {
    padding: 15px 20px;
    font-size: 18px;
    transition: var(--delay);
    position: relative;
}
.header .links .link::before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    top: 0;
    left: 0;
    background-color: var(--main-color-alt);
    transition: var(--delay);
}
.header .links > li {
    padding: 15px 20px;
}
.header .links .link:hover {
    color: var(--main-color);
    background-color: var(--section-background);
}
.header .links .link:hover::before {
    width: 100%;
}
.header .hidden {
    position: absolute;
    display: none;
    top: 46px;
    left: 0;
    padding: 40px;
    margin-top: 17px;
    justify-content: space-between;
    width: calc(100% - 80px);
    transition: var(--delay);
    background-color: white;
    border-top: 1px solid var(--section-background);
    border-bottom: 3px solid var(--main-color);
    gap: 20px;
    z-index: 3000;
}
.header .hidden img {
    width: 50%;
    height: 50%;
}
.header .hidden .links {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.header .hidden .links ul {
    width: 45%;
}
.header .hidden .links ul a {
    display: block;
    padding: 10px;
    position: relative;
    color: var(--main-color);
    font-weight: bold;
    width: calc(100% - 20px);
    z-index: 1;
}
.header .hidden .links ul a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--section-background);
    transition: var(--delay);
    z-index: -1;
}
.header .hidden .links ul a:hover::after {
    width: 100%;
}
.header .hidden .links ul li:not(:last-of-type) {
    border-bottom: 1px solid var(--section-background);
}
.header .links li:last-of-type:hover .hidden {
    display: flex;
    animation: to-top var(--delay);
}
.header .hidden .links ul a::before {
	content: "\f144";
	font-family: "Font Awesome 5 Free";
}   
/* Landing */
.landing {
    width: 100%;
    height: calc(100vh - 63px);
    background-color: var(--section-background);
    position: relative;
}
.landing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(173deg , transparent 0%, transparent 50%, white 50%, white 100%);
}
.landing .intro {
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    max-height: 40%;
}
.landing .intro img {
    width: 600px;
    animation: up-down infinite linear 2s alternate;
}
@keyframes up-down {
    0% {
        margin-top: 0;
        padding-bottom: 0;
    }
    100% {
        margin-top: -60px;
        padding-bottom: 60px;
    }
}
.landing .intro .text {
    max-width: 500px;
    line-height: 1.6;
}
.landing .intro .text h1 {
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
.landing .intro .text p {
    font-size: 23px;
    color: #777;
    margin: 0;
}
.landing i {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, 0);
    animation: arrow infinite linear 2s alternate;
    font-size: 25px;
    color: var(--main-color-alt);
}
@keyframes arrow {
    0% {
        margin-top: 0;
        padding-bottom: 0;
    }
    25% {
        margin-top: -20px;
        padding-bottom: 20px;
    }
    50% {
        margin-top: 0;
        padding-bottom: 0;
    }
    75% {
        margin-top: -20px;
        padding-bottom: 20px;
    }
    100% {
        margin-top: 0;
        padding-bottom: 0;
    }
}
/* Articles */
.articles {
    padding: var(--main-padding) 0;
    position: relative;
}
.articles .container .content {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    gap: 40px;
    justify-content: center;    
}
.articles .container .content .article {
    border-radius: 5px;
    box-shadow: 0px 0px 4px 0px #0000002d;
    position: relative;
    transition: var(--delay);
}
.articles .container .content .article:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 0px 4px 1px #00000052;
}
.articles .container .content .article img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.articles .container .content .article .text {
    padding: 10px;
    max-width: 230px;
}
.articles .container .content .article .text h2 {
    font-size: 18px;
}
.articles .container .content .article p {
    color: #777;
    line-height: 1.5;
}
.articles .container .content .article .box {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    padding-top: 20px;
    border-top: 1px solid #7777774a;
}
.articles .container .content .article .box button {
    border: none;
    font-weight: 900;
    color: var(--main-color);
    background-color: transparent;
    cursor: pointer;
}
.articles .container .content .article .box i {
    color: var(--main-color);
    position: relative;
}
.articles .container .content .article:hover .box i {
    animation: arrow-left infinite 0.5s;
}
@keyframes arrow-left {
    0% {
        left: 0;
    }
    100% {
        left: 5px;
    }
}
.articles::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background-size: 33px;
    background-image:
                linear-gradient(45deg, var(--section-background) 12px, transparent 0%), 
                linear-gradient(-45deg, var(--section-background) 12px, transparent 0%);
}
/* Gallery */
.gallery {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}
.gallery .container .photos {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 40px;
    row-gap: 40px;
    justify-content: center;
}
.gallery .container .photos .photo {
    padding: 15px;
    background-color: white;
    box-shadow: 0px 2px 4px 0px #00000045;
    overflow: hidden;
    position: relative;
}
.gallery .container .photos .photo .box {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery .container .photos .photo::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.705);
    z-index: 44;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    border: 20px solid transparent;
    filter: blur(15px);
    border-radius: 15px;
}
.gallery .container .photos .photo:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: rgba(255, 255, 255, 0.705);
    transition: 0.3s 0.1s, border-color 0.3s;
}
.gallery .container .photos .photo .box img {
    width: 100%;
    transition: var(--delay);
}
.gallery .container .photos .photo:hover .box img {
    scale: 1.1;
    transform: rotate(3deg);
}
/* Features */
.features {
    padding: var(--main-padding) 0;
}
.features .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    column-gap: 20px;
    row-gap: 50px;
    justify-content: center;
}
.features .content .feature {
    border: 1px solid #77777779;
    height: 725px;
    position: relative;
    overflow: hidden;
}
.features .content .feature .image img {
    width: 100%;
}

.features .content .feature .image {
    z-index: -1;
    position: relative;
}
.features .content .feature .image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color);
    opacity: 0.5;
}
.features .content .feature .text {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 48.5%;
    position: relative;
}
.features .content .feature .text::before {
    content: "";
    position: absolute;
    bottom: 100% ;
    left: 0;
    width: 100%;
    height: 4.5%;
    background-color: white;
}
.features .content .feature::before {
    content: "";
    position: absolute;
    bottom: 53%;
    right: 0;
    transition: var(--delay);
    border-bottom: 150px solid white;
    border-left: 450px solid transparent;
    border-right: 0 solid transparent;
    background-color: transparent;
}
.features .content .feature:hover::before {
    border-left: 0px solid transparent;
    border-right: 350px solid transparent;
    border-bottom: 150px solid white;
}
.features .content .feature:first-of-type {
    --color: tomato;
}
.features .content .feature:nth-last-of-type(2){
    --color: #009688;
}
.features .content .feature:last-of-type {
    --color: var(--main-color);
}
.features .content .feature .text h1 {
    font-size: 40px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 5px solid var(--color);
    width: fit-content;
}
.features .content .feature .text p {
    color: #777;
    font-size: 20px;
    text-align: center;
}
.features .content .feature .text button {
    position: relative;
    margin-bottom: 20px;
    padding: 10px 25px;
    border: 3px solid var(--color);
    border-radius: 10px;
    font-size: 18px;
    z-index: 1;
    color: var(--color);
    font-weight: 800;
    transition: var(--delay);
    cursor: pointer;
}
.features .content .feature:hover .text button {
    color: white;
}
.features .content .feature .text button::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    left: 0;
    top: 0;
    background-color: var(--color);
    transition: var(--delay);
}
.features .content .feature:hover .text button::before {
    width: 100%;
    z-index: -1;
}
/* Testimonials */
.testimonials {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}
.testimonials .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    gap: 40px;
    justify-content: center;
}
.testimonials .content .comment {
    display: flex;
    background-color: white;
    position: relative;
    border-radius: 5px;
}
.testimonials .content .comment .image {
    width: 80px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -50%);

}
.testimonials .content .comment .image img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid var(--section-background);
}
.testimonials .content .comment .text {
    padding: 5px 20px 20px;
    line-height: 1.6;
}
.testimonials .content .comment .text p {
    color: #777;
}
.testimonials .content .comment .text .rating i.fa-solid {
    color: gold;
}
/* Team members */
.team {
    padding: var(--main-padding) 0 200px;
    position: relative;
}
.team .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, 318px);
    column-gap: 100px; /* 172.5px is the max-width */
    row-gap: 150px;
    justify-content: center;
}
.team .content .member {
    display: flex;
    gap: 20px;
    position: relative;
}
.team .content .member:hover .image img {
    filter: grayscale(1);
}
.team .content .member::before{
    content: "";
    position: absolute;
    top: -10%;
    left: 15%;
    width: 90%;
    height: 140%;
    background-color: var(--section-background);
    z-index: -1;
    border-radius: 10px;
}
.team .content .member::after {
    content: "";
    position: absolute;
    top: -10%;
    right: -5%;
    width: 0;
    height: 140%;
    background-color: #c5c2c2;
    z-index: -1;
    border-radius: 10px;
    transition: var(--delay);
}
.team .content .member:hover::after {
    width: 90%;
}
.team .content .member .image img {
    width: 100%;
    border-radius: 10px;
    transition: var(--delay);
}
.team .content .member .social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team .content .member .social i {
    color: gray;
}
.team .content .member .social i:not(:last-of-type){
    margin-bottom: 20px;
}
.team .content .member .social i.fa-facebook:hover {
    color: #3b5998;
}
.team .content .member .social i.fa-twitter:hover {
    color: #00acee;
}
.team .content .member .social i.fa-linkedin:hover {
    color: #0A66C2;
}
.team .content .member .social i.fa-youtube:hover {
    color: #CD201F;
}
.team .content .member .name {
    position: absolute;
    bottom: -22%;
    left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.team .content .member .name h2 {
    color: var(--main-color);
}
.team .content .member:hover .name h2 {
    color: gray;
}
.team::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 63px;
    background-size: 33px;
    background-image:
                linear-gradient(45deg, var(--section-background) 12px, transparent 0%), 
                linear-gradient(-45deg, var(--section-background) 12px, transparent 0%);
}
/* Services */
.services {
    padding: var(--main-padding) 0;
    background-color: var(--section-background);
}
.services .content {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
}
.services .content .service {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 0;
    height: 210px;
    box-shadow: 0px 1px 3px #77777779;
    position: relative;
    transition: var(--delay);
}
.services .content .service i {
    font-size: 55px;
    color: #D5D5D5;
}
.services .content .service h1 {
    color: var(--main-color);
}
.services .content .service .number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 100%;
    background-color: #F9F9F9;
}
.services .content .service .number span {
    display: block;
    color: white;
    padding: 0px 20px;
    font-size: 30px;
    font-weight: 900;
    width: 30px;
    position: relative;
    border-right: 20px solid transparent;
    border-top: 50px solid var(--main-color);
    z-index: 1;
}
.services .content .service .number span::before {
    content: attr(data-value);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
}
.services .content .service .number span::after {
    content: "";
    position: absolute;
    left: 100%;
    width: 50px;
    background-color: #D5D5D5;
    bottom: 0;
    height: 50px;
    transform: skew(-20deg);
    position: absolute;
    z-index: -1;
}
.services .content .service .number p {
    display: block;
    padding: 0px 20px;
}
.services .content .service:hover {
    margin-top: -15px;
}
.services .content .service::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--main-color);
    transition: var(--delay);
    width: 0;
}
.services .content .service:hover::before {
    width: 100%;
}
/* Skills */
.skills {
    padding: var(--main-padding) 0;
}
.skills .content {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.skills .content .image {
    width: 30%;
}
.skills .content .image img {
    width: 100%;
}
.skills .content .states {
    width: 40%;
}
.skills .content .states .skill .bar {
    --name : att(data-name);
    --range: att(data-range);
    height: 30px;
    width: 550px;
    background-color: var(--section-background);
}
/* .skills .content .states .skill .bar */
/* Medai Query */
/* Phone */
@media (max-width: 575px) {
    .cotainer {
        width: 100%;
    }
    .header .container {
        flex-direction: column;
    }
    .header .links {
        position: relative;
    }
    .header .links .hidden {
        width: 100%;
        left: -25px;
        margin-top: 0;
        top: 40px;
        padding: 15px
    }
    .header .links .hidden img {
        display: none;
    }
    .header .links > li, .header .links .link {
        padding: 5px;
        font-size: medium;
    }
    .landing .intro .text {
        text-align: center;
        max-width: 350px;
    }
    .landing .intro img {
        display: none;
    }
    .articles .container .content {
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    .gallery .container .photos {
        grid-template-columns: 100%;
    }
    .features .content {
        grid-template-columns: 100%;
    }
    .features .content .feature {
        display: flex;
        flex-direction: column;
    }
    .features .content .feature .text {
        height: 500%;
        position: relative;
        bottom: 50px;
        background-color: white;
    }
    .features .content .feature::before {
        bottom: 35%;
    }
    .testimonials .content {
        grid-template-columns: 100%;
    }
    .team .content {
        grid-template-columns: 90%;
    }
    .team .content .member::before {
        height: 130%;
    }
    .team .content .member .name {
        bottom: -20%;
        left: 20%;
    }
    .services .content {
        grid-template-columns: minmax(90%, 420px);
    }
}
/* Small */
@media (max-width: 767px) and (min-width: 576px) {
    .container {
        max-width: 100%;
    }
    .header .container {
        flex-direction: column;
    }
    .header .links {
        position: relative;
    }
    .header .links .hidden {
        width: 100%;
        left: -15px;
        margin-top: 0;
        top: 53px;
        padding: 15px;
    }
    .header .links .hidden img {
        display: none;
    }
    .header .links > li, .header .links .link {
        padding: 10px;
    }
    .landing .intro {
        top: 30%;
    }
    .landing .intro .text {
        text-align: center;
    }
    .landing .intro img {
        display: none;
    }
    .articles .container .content {
        grid-template-columns: 550px;
        column-gap: auto;
    }
    .gallery .container .photos {
        grid-template-columns: 550px;
    }
    .features .content {
        grid-template-columns: repeat(2, 45%);
    }
    .features .content .feature .text {
        height: 60%;
    }
    .testimonials .content {
        grid-template-columns: 90%;
    }
    .team .content {
        grid-template-columns: 80%;
    }
    .team .content .member::before {
        height: 125%;
    }
    .team .content .member .name {
        bottom: -15%;
        left: 20%;
    }
    .services .content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 450px));
        column-gap: 30px;
    }
}
/* Medium */
@media (max-width: 991px) and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    .header .container {
        flex-direction: column;
    }
    .header .links {
        position: relative;
    }
    .header .links .hidden img {
        display: none;
    }
    .landing .intro {
        top: 30%;
    }
    .landing .intro .text {
        text-align: center;
    }
    .landing .intro img {
        display: none;
    }
    .articles .container .content {
        grid-template-columns: repeat(auto-fill, calc(375px - 10px));
        column-gap: 10px;
    }
    .gallery .container .photos {
        grid-template-columns: repeat(auto-fill, calc(350px - 10px));
    }
    .testimonials .content {
        grid-template-columns: repeat(auto-fill, minmax(350px, 90%));
    }
    .team .content {
        grid-template-columns: repeat(2, 40%);
    }
    .services .content {
        grid-template-columns: repeat(auto-fill, 345px);
        column-gap: 30px;
    }
}
/* Large */
@media (max-width: 1200px) and (min-width: 992px) {
    .container {
        max-width: 970px;
    }
    .header .links .hidden {
        width: 100%;
        left: -40px;
    }
    .landing .intro {
        flex-direction: column;
    }
    .articles .container .content {
        grid-template-columns: repeat(auto-fill, 320px);
        column-gap: 5px;
    }
    .gallery .container .photos {
        grid-template-columns: repeat(3, 290px);
        column-gap: 40px;
        row-gap: 40px;
    }
    .team .content {
        grid-template-columns: repeat(auto-fill, 400px);
    }
    .team .content .member::before {
        height: 135%;
    }
    .services .content {
        grid-template-columns: repeat(auto-fill, 442px);
        column-gap: 30px;
    } 
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
/* modifie the .heading raduis */